<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Layui CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/main.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/patch.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font_1332398_z4m8t7izbwk.css}">
</head>
<body>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="">添加用户</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="admin-adduser">
                <div class="tile">
                    <div class="tile-body">
                        <div class="form-group">
                            <label class="control-label">登录账号</label>
                            <input class="form-control" type="text" name="username" value="" placeholder="登录账号">
                        </div>
                        <div class="form-group">
                            <label class="control-label">登录密码</label>
                            <input class="form-control" type="text" name="password" value="" placeholder="登录密码">
                        </div>
                        <div class="form-group">
                            <label class="control-label">角色类型</label>
                            <input class="form-control" type="text" name="role" value="病人" disabled="disabled">
                        </div>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-fw fa-lg fa-check-circle"></i>添加
                        </button>
                        <span style="color:#e60c0c"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile" style="margin-bottom: 0px;">
                <div class="tile-body"> 2017 - 2019 Zero-Art All Rights Reserved</div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script th:src="@{/plugins/awesome/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/awesome/js/popper.min.js}"></script>
<script th:src="@{/plugins/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/awesome/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/plugins/awesome/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{/plugins/awesome/js/plugins/chart.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test-carousel-normal',
            width: '100%' //设置容器宽度
            ,
            height: '238px' //设置容器宽度
            ,
            arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });

    $('#admin-adduser button').click(function () {
        fd = new FormData(document.getElementById('admin-adduser'));
        $.ajax({
            url: '/admin/adduser',
            type: "POST",
            timeout: "5000",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: fd,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.code == "200") {
                    layer.msg(data.msg, {time: 1500}, function () {
                        window.location.href = "/<?php echo ADMIN_PATH;?>/userinfo.html";
                    });
                } else {
                    layer.msg(data.msg);
                }
            },
            error: function (XMLResponse) {
                layer.msg(XMLResponse.error);
            }
        });
    });
</script>
</body>
</html>