<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Layui CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/main.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/patch.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font_1332398_z4m8t7izbwk.css}">
</head>
<body>

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">值班列表</li>
            <li class="breadcrumb-item">
                <a class="btn btn-primary btn-sm" onclick="addRow(this)">安排值班</a>
            </li>
            <li class="breadcrumb-item">
                <a class="btn btn-primary btn-sm" onclick="getSchedule(this)" th:title="${session.user}">今日安排</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="search-wraper" role="search">
                <div class="form-group">
                    <select class="form-control col-lg-12" name="search-type" id="search-type">
                        <option>--筛选类型--</option>
                        <option value="doctor">医生</option>
                        <option value="department">科室</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="search-wraper" role="search">
                <div class="form-group">
                    <input class="form-control search clearable" id="search-text" placeholder="搜索编号，如医生编号、部门编号"
                           spellcheck="false" tabindex="0"/>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="search-wraper">
                <div class="form-group">
                    <a class="btn btn-primary btn-large" onclick="doSearch(this)">搜索</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead class="table-space">
                        <tr>
                            <th>值班编号</th>
                            <th>医生</th>
                            <th>值班科室</th>
                            <th>地点</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>类型</th>
                        </tr>
                        </thead>
                        <tbody class="table-space">
                        <tr th:each="schedule : ${schedules}">
                            <td th:text="${schedule.id}"></td>
                            <td th:text="${schedule.doctorId}"></td>
                            <td th:text="${schedule.departmentId}"></td>
                            <td th:text="${schedule.place}"></td>
                            <td th:text="${#dates.format(schedule.startTime, 'yyyy-MM-dd HH-mm-ss')}"></td>
                            <td th:text="${#dates.format(schedule.endTime, 'yyyy-MM-dd HH-mm-ss')}"></td>
                            <td th:if="${schedule.type} == 1">坐诊</td>
                            <td th:if="${schedule.type} == 2">巡诊</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile" style="margin-bottom: 0px;">
                <div class="tile-body"> 2017 - 2019 Zero-Art All Rights Reserved</div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script th:src="@{/plugins/awesome/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/awesome/js/popper.min.js}"></script>
<script th:src="@{/plugins/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/awesome/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/plugins/awesome/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{/plugins/awesome/js/plugins/chart.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>

<script type="text/javascript">
    function addRow(_this) {
        layer.open({
            type: 2,
            title: '接口编辑',
            shadeClose: false,
            shade: true,
            maxmin: false, //开启最大化最小化按钮
            area: ['85%', '80%'],
            offset: "r",
            content: ['/add_schedule']
        });
    }

    function getSchedule(_this) {
        window.location.href = '/schedules/' + _this.title;
    }

    function doSearch(_this) {
        var type = $("#search-type").val();
        var text = $("#search-text").val();
        console.log(type, text);
        window.location.href = '/schedules/' + type + '/' + text;
    }
</script>

</body>
</html>