<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Layui CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/main.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/patch.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font_1332398_z4m8t7izbwk.css}">
</head>
<body>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="">添加住院档案</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="add-file">
                <div class="tile">
                    <div class="tile-body">
                        <div class="form-group">
                            <label class="control-label" for="patientId">病人编号</label>
                            <select id="patientId" name="patientId" class="col-lg-12 form-control">
                                <option value="">--全部--</option>
                                <option th:each="patient : ${patients}" th:text="${patient.name}" th:value="${patient.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="admissionTime">入院时间</label>
                            <input class="form-control" type="date" id="admissionTime" name="admissionTime" value=""
                            placeholder="入院时间">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="dischargeTime">出院时间</label>
                            <input class="form-control" type="date" id="dischargeTime" name="dischargeTime" value=""
                            placeholder="出院时间">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="bedId">病床编号</label>
                            <select id="bedId" name="bedId" class="col-lg-12 form-control">
                                <option value="">--全部--</option>
                                <option th:each="bed : ${beds}" th:text="bedId" th:value="${bed.id}" th:title="${bed.id}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="billId">预缴费单编号</label>
                            <select id="billId" name="billId" class="col-lg-12 form-control">
                                <option value="">--全部--</option>
                                <option th:each="bill : ${bills}" th:text="${#dates.format(bill.date, 'yyyy-MM-dd HH-mm-ss')}" th:value="${bill.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-fw fa-lg fa-check-circle"></i>添加
                        </button>
                        <span style="color:#e60c0c"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile" style="margin-bottom: 0px;">
                <div class="tile-body"> 2017 - 2019 Zero-Art All Rights Reserved</div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script th:src="@{/plugins/awesome/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/awesome/js/popper.min.js}"></script>
<script th:src="@{/plugins/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/awesome/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/plugins/awesome/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{/plugins/awesome/js/plugins/chart.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test-carousel-normal',
            width: '100%' //设置容器宽度
            ,
            height: '238px' //设置容器宽度
            ,
            arrow: 'always' //始终显示箭头
        });
    });

    $('#add-file button').click(function () {

        /*实例化表单数据*/
        var fields = $('#add-file').serializeArray();

        var obj = {}; // 声明一个对象
        $.each(fields, function (index, field) {
            obj[field.name] = field.value; // 通过变量 将属性值 属性一起放到对象中
        })

        $.ajax({
            url: '/file',
            type: "POST",
            timeout: "5000",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(obj),
            processData: false,
            success: function (data) {
                if (data.code == "200") {
                    layer.msg(data.message, {time: 1500}, function () {
                        window.location.href = "/files";
                    });
                } else {
                    layer.msg(data.message);
                }
            },
            error: function (XMLResponse) {
                layer.msg(XMLResponse.error);
            }
        });
    });
</script>
</body>
</html>