<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Layui CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/main.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/patch.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font_1332398_z4m8t7izbwk.css}">
</head>
<body>

<!-- Essential javascripts for application to work-->
<script th:src="@{/plugins/awesome/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/awesome/js/popper.min.js}"></script>
<script th:src="@{/plugins/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/awesome/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/plugins/awesome/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{/plugins/awesome/js/plugins/chart.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>
</body>
</html>