<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理员</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Layui CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/main.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/patch.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/font_1332398_z4m8t7izbwk.css}">
</head>
<body>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">医生列表</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>出生日期</th>
                            <th>联系方式</th>
                            <th>职称</th>
                            <th>诊疗费用</th>
                            <th>所属部门</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="table-space">
                        <tr th:each="doctor : ${doctors}">
                            <td th:text="${doctor.id}"></td>
                            <td th:text="${doctor.name}"></td>
                            <td th:text="${doctor.gender}"></td>
                            <td th:text="${#dates.format(doctor.birthday, 'yyyy-MM-dd')}"></td>
                            <td th:text="${doctor.telephone}"></td>
                            <td th:text="${doctor.title}"></td>
<!--                            <td th:text="${doctor.fee}"></td>-->
                            <td>100</td>
                            <td th:text="${doctor.departmentId}"></td>
                            <td class="api-list-cz">
                                <a class="btn btn-primary btn-sm" onclick="editRow(this)"
                                   th:title="${doctor.id}">编辑</a>
                                <a class="btn btn-primary btn-sm" onclick="delRow(this)"
                                   th:title="${doctor.id}">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile" style="margin-bottom: 0px;">
                <div class="tile-body"> 2017 - 2019 Zero-Art All Rights Reserved</div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    function editRow(_this) {
        layer.open({
            type: 2,
            title: '编辑医生',
            shadeClose: false,
            shade: true,
            maxmin: false, //开启最大化最小化按钮
            area: ['85%', '80%'],
            offset: "r",
            content: ['/edit_doctor/' + _this.title]
        });
    }

    //删除
    function delRow(_this) {
        var td = _this.parentNode;
        var tr = td.parentNode;
        var tbody = tr.parentNode;
        //询问框
        layer.confirm('确定删除接口？', {
            title: "提示",
            btn: ['删除', '取消 '] //按钮
        }, function () {
            $.ajax({
                url: '/admin/doctor/'+_this.title,
                type: "DELETE",
                timeout: "3000",
                processData: false,
                success: function (data) {
                    if (data.code == "200") {
                        layer.msg(data.message);
                        tbody.removeChild(tr);
                    } else {
                        layer.msg(data.message);
                    }
                },
                error: function (XMLResponse) {
                    layer.msg(XMLResponse.error);
                }
            });
        });
    }

</script>
</body>
</html>

<!-- Essential javascripts for application to work-->
<script th:src="@{/plugins/awesome/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/awesome/js/popper.min.js}"></script>
<script th:src="@{/plugins/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/awesome/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/plugins/awesome/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script th:src="@{/plugins/awesome/js/plugins/chart.js}"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/awesome/js/plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/plugins/layui/layui.all.js}"></script>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test-carousel-normal',
            width: '100%' //设置容器宽度
            ,
            height: '238px' //设置容器宽度
            ,
            arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });

    $('#admin-adduser button').click(function () {
        fd = new FormData(document.getElementById('admin-adduser'));
        $.ajax({
            url: '/admin/adduser',
            type: "POST",
            timeout: "5000",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            data: fd,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.code == "200") {
                    layer.msg(data.msg, {time: 1500}, function () {
                        window.location.href = "/<?php echo ADMIN_PATH;?>/userinfo.html";
                    });
                } else {
                    layer.msg(data.msg);
                }
            },
            error: function (XMLResponse) {
                layer.msg(XMLResponse.error);
            }
        });
    });
</script>
