<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w83ll43.hospital.mapper.BedMapper">

    <resultMap id="BaseResultMap" type="com.w83ll43.hospital.model.domain.Bed">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="wardId" column="ward_id" jdbcType="BIGINT"/>
            <result property="charge" column="charge" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ward_id,charge
    </sql>
</mapper>
