<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w83ll43.hospital.mapper.DoctorMapper">

    <resultMap id="BaseResultMap" type="com.w83ll43.hospital.model.domain.Doctor">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="telephone" column="telephone" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="departmentId" column="department_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        birthday,telephone,title,
        department_id
    </sql>
</mapper>
