<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w83ll43.hospital.mapper.PatientMapper">

    <resultMap id="BaseResultMap" type="com.w83ll43.hospital.domain.Patient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        birthday,id_card,telephone
    </sql>
</mapper>
