<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w83ll43.hospital.mapper.PrescriptionMapper">

    <resultMap id="BaseResultMap" type="com.w83ll43.hospital.model.domain.Prescription">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="patientId" column="patient_id" jdbcType="BIGINT"/>
            <result property="doctorId" column="doctor_id" jdbcType="BIGINT"/>
            <result property="symptom" column="symptom" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="hospitalized" column="hospitalized" jdbcType="INTEGER"/>
            <result property="billId" column="bill_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patient_id,doctor_id,
        symptom,date,hospitalized,
        bill_id
    </sql>
</mapper>
