<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w83ll43.hospital.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.w83ll43.hospital.model.domain.Schedule">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="doctorId" column="doctor_id" jdbcType="BIGINT"/>
        <result property="place" column="place" jdbcType="VARCHAR"/>
        <result property="departmentId" column="department_id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,doctor_id,place,department_id,
        start_time,end_time,type
    </sql>
</mapper>
